.group-content
    height: calc(100vh - 115px)
    overflow-x: hidden
    overflow-y: hidden
    display: flex
    flex: 1
    @media ( max-width: 1100px )
        position: relative
    &__head 
        z-index: 2
        padding: 10px 16px
        display: flex
        align-items: center
        background-color: #EDEDED
        border-bottom: 1px solid rgba(0,0,0,0.08)
        border-right: 1px solid rgba(0,0,0,0.05)
    &__images 
        display: block
        width: 40px
        height: 40px
        position: relative
        overflow: hidden
        border-radius: 50%
        img 
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
            top: 0
            left: 0
    &__title
        flex: 1
        margin-left: 15px
        display: flex
        align-items: center
        position: relative
        &-text
            padding-right: 5px
            font-size: 0.95rem
            font-weight: bold
            line-height: 1.25
            @media ( max-width: 1100px )
                font-size: 0.85rem
        &-num
            line-height: 1.25
            font-weight: bold
            font-size: 0.95rem
            color: #A7A7A7
            @media ( max-width: 1100px )
                font-size: 0.85rem
    &__main
        overflow-x: hidden
        position: relative
        background: url('../images/content-bg.png') repeat 
        background-color: #e5ddd5
        height: calc(100% - 61px)
        width: 100%
    &__search
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        cursor: pointer
        @media ( max-width: 800px )
            display: none
    &__icon
        width: 24px
        height: 24px
        fill: rgba(145,145,145,1)
    &__wrapper
        flex: 1px

.search-block
    transition: 0.15s linear
    transform: translate(200%, 0)
    width: 0
    height: 100%
    background-color: #ffffff
    text-align: center
    @media ( max-width: 1100px )
        transition: transform 0.15s linear
        transform: translate(100%, 0)
    @media ( max-width: 800px )
        display: none
    &__head
        display: flex
        min-height: 61px
        background-color: #EDEDED
        padding-top: 18px
        padding-bottom: 18px
        padding-right: 20px
        padding-left: 25px
        border-bottom: 1px solid rgba(0,0,0,0.05)
        border-right: 1px solid rgba(0,0,0,0.05)
        &-btn
            cursor: pointer
            display: flex
            align-items: center
        &-text
            line-height: 24px
            margin-left: 20px
    &__content
        padding: 50px
        font-size: 0.875rem
        color: rgba(0,0,0,0.45)
        border-right: 1px solid rgba(0,0,0,0.05)
        border-left: 1px solid rgba(0,0,0,0.05)
        span 
            font-weight: bold
    &__search
        position: relative
        padding: 10px 15px
        display: flex
        background-color: rgba(247,247,247,1)
        border-right: 1px solid rgba(0,0,0,0.05)
        border-left: 1px solid rgba(0,0,0,0.05)
    &__icon
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 30px
        width: 20px
        height: 20px
        fill: rgba(145,145,145,1)
    &__input
        width: 100%
        background-color: #ffffff
        border: none
        border-radius: 5px
        padding: 10px 15px 10px 50px
        font-family: 'Segoe UI', sans-serif
        font-size: 1rem
        color: #000000

.search-block.open
    width: 340px
    transform: translate(0%, 0)
    @media ( max-width: 1150px )
        width: 290px
    @media ( max-width: 1100px )
        width: 100%
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 100
        transform: translate(0%, 0)

input.search-block__input
    transition: all 0.2s
    &:focus
        transition: all 0.2s
        box-shadow: 0 1px .5px rgba(0,0,0,.13)

.mCSB_inside>.mCSB_container
    margin-right: 0

.mCSB_scrollTools
    width: 6px
    opacity: 1

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    width: 6px !important
    border-radius: 0

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    background-color: rgba(0, 0, 0, 0.2)

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail
    background-color: transparent