.group
    max-width: 420px
    &-add
        padding-top: 15px
        &__button
            display: block
            border-radius: 3px
            width: 100%
            padding: 10px 20px
            font-size: 1.25rem
            background-color: #dddddd
            color: #A7A7A7
            transition: all 0.3s
            span
                position: relative
                margin-right: 35px
                .add-button-icon
                    transition: all 0.3s
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    width: 20px
                    height: 20px
                    fill: #A7A7A7
            &:hover
                background-color: $main
                color: #ffffff
                .add-button-icon
                    fill: #ffffff
